[submodule "flatpak-builder-tools"]
	path = flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools.git
[submodule "org.pvermeer.WebAppHub"]
	path = org.pvermeer.WebAppHub
	url = https://github.com/flathub/org.pvermeer.WebAppHub.git
