#toolbar-menubar[inactive="true"] ~ #TabsToolbar {
  visibility: collapse !important;
}
#toolbar-menubar[inactive="true"] ~ #nav-bar {
  visibility: collapse !important;
}
#navigator-toolbox {
  border-bottom: none !important;
}

/* 
Show the navigation bar for browser popups when a web apps asks for permissions.
(e.g. enable desktop notifications)
 */
#mainPopupSet:has(> [panelopen])
  ~ toolbox
  #toolbar-menubar[inactive="true"]
  ~ #nav-bar {
  visibility: visible !important;
}
