id: %{app_id}
runtime: org.gnome.Platform
runtime-version: "49"
sdk: org.gnome.Sdk
sdk-extensions:
  - org.freedesktop.Sdk.Extension.rust-stable

command: %{app_name_short}

finish-args:
  - --socket=wayland
  - --socket=fallback-x11
  - --share=ipc
  - --device=dri
  - --share=network
  - --talk-name=org.freedesktop.Flatpak
  - --filesystem=xdg-data/applications:create
  - --filesystem=xdg-data/flatpak/app:ro
  - --filesystem=/var/lib/flatpak/app:ro
  - --filesystem=~/.var/app:create

modules:
  - name: %{app_name_hyphen}
    buildsystem: simple
    build-options:
      append-path: /usr/lib/sdk/rust-stable/bin
      env:
        CARGO_HOME: flatpak
        FLATPAK_BUILDER_DIR: target/flatpak
    build-commands:
      - cargo build --release --frozen
      - install -D target/release/%{app_name_short} /app/bin/%{app_name_short}
      - install -D assets/desktop/org.pvermeer.%{app_name_dense}.metainfo.xml -t /app/share/metainfo/
      - install -D assets/desktop/org.pvermeer.%{app_name_dense}.desktop -t /app/share/applications/
      - install -D assets/desktop/org.pvermeer.%{app_name_dense}.png -t /app/share/icons/hicolor/256x256/apps/
    sources:
      - type: dir
        path: ..
