[Desktop Entry]
Exec=flatpak run --user com.brave.Browser --app="https://www.youtube.com" --class=brave-www.youtube.com__-Default --name=brave-www.youtube.com__-Default --user-data-dir=/home/vscode/.local/share/gnome-web-apps/profiles/12345678
Icon=./dev-assets/icons/12345678-favicon_144x144.png
Name=YouTube
StartupWMClass=brave-www.youtube.com__-Default
Terminal=false
Type=Application
Version=1.0
X-GWA=true
X-GWA-BROWSER-ID=com.brave.Browser
X-GWA-ID=12345678
X-GWA-ISOLATE=true
X-GWA-URL=https://www.youtube.com
X-MultipleArgs=false

